@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.Titulo h1 {
    color: white;
    font-family: 'Orbitron';
}

.Titulo span {
    display: grid;
    color: #5BCFEF;
}

.Conteudo {
    display: grid;
    gap: 20px;
    place-content: center;
    font-family: 'IBM Plex Sans';
    margin: 30px 100px;
}

.Faq h4 {
    color: #5BCFEF;
}

.Faq p {
    color: white;
}

.Faq hr {
    border: 0.1px solid;
    color: #003A6D;
}

.Faq {
    display: grid;
    gap: 20px;
}