@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.titulo h1 {
    color: white;
    font-family: 'Orbitron';
}

.titulo span {
    display: grid;
    color: #5BCFEF;
}

.conteudo {
    display: grid;
    gap: 20px;
    place-content: center;
    font-family: 'IBM Plex Sans';
    margin: 30px 100px;
}

.faq h4 {
    color: #5BCFEF;
}

.faq p {
    color: white;
}

.faq hr {
    border: 0.1px solid;
    color: #003A6D;
}

.faq {
    display: grid;
    gap: 20px;
}