body {
  background: #0e192b;
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-self: center;
}

.posts {
  margin: 75px;
  padding: 20px;
  margin-top: 130px;
}

Aside {
  margin-top: 10px;
  margin: 0 0 0 20px;
  background: transparent !important;
}